{% extends "base.html" %}
{% block title %}
	<title>Crear Categorias</title>
{% endblock title %}
<!--{% block css1 %}<link href="/static/css/form.css" type="text/css" rel="stylesheet">{% endblock css1 %}
{% block css2 %}<link href="/static/css/perfilusuario.css" type="text/css" rel="stylesheet">{% endblock css2 %}-->
{% block cuerpo %}
<li><a href="/principal/crearcategorias">Crear categorias</a></li>
<li><a href="/principal/vercategorias">Ver categorias</a></li>
{% endblock cuerpo %}
{% block encabezado %}<h1>Crear Categorias</h1>{% endblock encabezado %}
{% block content %}
<div class="form">
<form action="" method="POST">{{fcategoria.as_ul}}{% csrf_token %}<input type="submit" value=".::ENVIAR::."></form>
</div>
{% endblock content %}