<div class="nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-3" >
        <h1 id="nombre"><a href="/"><span>Juego Trivia</span></a></h1>
      </div>
      <div class="col-xs-9">
        <ul class="nav nav-pills">
            <li class="active"><a href="/">Inicio</a></li>

            <li><a href="/user/registro/">Registro</a></li>
            {% if user.is_authenticated %}
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/login/">Login</a></li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mas entretenimiento <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://www.facebook.com">Facebook</a></li>
                <li><a href="http://www.twiter.com">Twiter</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
