*{margin: 0}
body{
	background: DarkCyan;
	color: #FFFFFF;
	font-family: verdana;
	font-size: 20px;
}
header{
	display: inline-block;
	background: rgba(115,115,115,1);
}
header h1{
	text-shadow:5px 5px 5px rgba(138,225,225,1);
}
nav ul{
	font-size: 0;
	padding:0;
}
nav ul li{
	display: inline-block;
	padding: 10px 0;
	width: 25%;
}
nav ul li a{
	color: #000000;
	display: block;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: center;
}
nav ul li:hover{
	background: rgba(128,128,128,0.7);
}
#Contenido{
	display: inline-block;
}
#logo{
	height: 70px;
	width: 70px;
}
#derecha{
	float: right;
	width: 20%;
}
#izquierda{
	float: left;
	width: 70%;
}
#menu{
	background: rgba(80,80,80,0.5);
}
#logo,#nombre{
	float: left;
	padding: 10px 10px 10px 10px;
}
.noticia{
	background: SlateGray;
	border-radius: 5px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
	color:#000000;
	display: inline-block;
	margin: 10px auto;
	padding: 0;
}
.noticia:hover{
	background: rgba(128,128,128,0.7);
}
.imagen{

	float: left;
	margin: 10px 10px;
	width: 100px;
}
.letra{
	
	float: right;
	margin: 10px 10px;
	width: 80%;
}
.objetivos{
	background: SlateGray;
	border: 5px solid transparent;
	border-radius: 5px;
	box-shadow: -10px 10px 5px rgba(0,0,0,0.5);
	color: #000000;
	margin: 10px auto;
}
.objetivos:hover{
	background: rgba(128,128,128,0.7);
}
.formulario{
	vertical-align: center;
	background-color: #71777C;
	height: 450px;
	width: 500px;
}
.formulario li{
	float: right;
}
#label{
	height: 25px;
}
.formulario input{ 
	height: 25px;
	float: right 10px;
	border: solid #2A3031 3px;
}
.formulario input:hover{
	background-color: #55F3DB;
}
#enviar{
	float: left;
}
#pie{
	height: 60px;
	background-color: #14F3E0;
}